# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

 __Objectives:__

* List popular languages for Data Science
* Create a Jupyter Notebook
* Share your notebook through GitHub

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. GGPlot
3. Matplotlip
4. Plotly

| Data Science Tools|
| ----------------- |
| Jupyter Notebook |
| Jupyter Lab |
| Anaconda |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.
$2 + 2 = 4$\
$5 - 2 = 3$

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Ayodele Fayinminu